.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

ul li p {
    font-size: 25px;
}