<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums and Tracks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Albums and Tracks</h1>

        <table>
            <thead>
                <tr>
                    <th>Album Code</th>
                    <th>Media Number</th>
                    <th>Album Name</th>
                    <th>Track Name</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album.album_code }}</td>
                        <td>{{ album.album_media_number }}</td>
                        <td>{{ album.album_description }}</td>
                        <td>{{ album.track_description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('routing.home') }}"> <!-- Adicione esta linha -->
            <button type="button">Voltar para a página inicial</button>
        </a>


</body>
</html>