<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotPer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>SpotPer</h1>

        <h2 style="text-align: center;">Playlists criadas:</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome da Playlist</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td><a href="{{ url_for('routing.playlist', playlist_code=playlist.code) }}">{{ playlist.name }}</a></td>
                        <td><a><button onclick="deletePlaylist('{{ playlist.code }}')">Excluir Playlist</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 style="text-align: center;">Crie uma nova playlist:</h2>
        <form action="{{ url_for('routing.create_playlist') }}" method="post">
            <label for="playlistName">Nome da playlist:</label>
            <input type="text" id="playlistName" name="playlistName" required>
            
            <br>
            <button type="submit" style="text-align: center;">Criar Playlist</button>
        
        </form>

    </break>
        <div style="margin: 30 auto; text-align: center">
            <h2>Acessar Consultas:</h2>
            <a href="{{ url_for('routing.get_queries') }}">
                <button type="button">Acessar Consultas</button>
            </a>
        </div>

    </div>


    <script>

    function deletePlaylist(playlistCode) {
        if (confirm('Tem certeza de que deseja excluir esta playlist?')) {
            const options = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            };

            fetch('/playlist/' + playlistCode, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.message === 'Playlist deleted') {
                    console.log('Playlist deletada com sucesso');
                    if (data.reload) {
                        // Recarrega a página apenas se 'reload' for verdadeiro
                        window.location.reload();
                    }
                } else {
                    console.error('Erro ao excluir a playlist:', data.error || data.message);
                }
            })
            .catch(error => {
                console.error('Erro na solicitação DELETE:', error.message);
            });
        }
    }

    </script>
</body>
</html>
