<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotPer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>SpotPer</h1>

        <h2>Playlists criadas:</h2>
        <ul>
            {% for playlist in playlists %}
                <li><a href="{{ url_for('routing.playlist', playlist_code=playlist.code) }}">{{ playlist.name }}</a></li>
            {% endfor %}
        </ul>

        <h2>Crie uma nova playlist:</h2>
        <form action="{{ url_for('routing.create_playlist') }}" method="post">
            <label for="playlistName">Nome da playlist:</label>
            <input type="text" id="playlistName" name="playlistName" required>
        </form>

        <a href="{{ url_for('routing.get_queries') }}">
            <button type="button">Acessar Consultas</button>
        </a>


    </div>
</body>
</html>
