<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Playlist</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-5 mb-4"><b>SpotPer</b></h1>

            <hr class="my-5">

            <h2 class="text-center mb-4"><b>PLAYLIST</b></h2>

            <table class="table" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th>ALBUM</th>
                        <th>FAIXA</th>
                        <th>TEMPO DE EXECUÇÃO</th>
                        <th>AÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in playlist %}
                        <tr data-album-code="{{ track.album_code }}" data-album-media-number="{{ track.album_media_number }}" data-track-number="{{ track.track_number }}">
                            <td>{{ track.album_description }}</td>
                            <td>{{ track.track_description }}</td>
                            <td>{{ track.track_execution_time }}</td>
                            <td>
                                <button class="btn btn-danger" onclick="removeTrack('{{playlist_code}}', '{{ track.album_code }}', '{{ track.album_media_number }}', '{{ track.track_number }}')">Remover</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>

            <hr class="my-5">

            <h2 class="text-center mb-4"><b>ADICIONAR MÚSICAS À PLAYLIST</b></h2>

            <br>

            <table>
                <thead style="text-align: middle;">
                    <tr>
                        <th> CÓDIGO DO ÁLBUM </th>
                        <th> NÚMERO DE MÍDIA DO ÁLBUM </th>
                        <th> NÚMERO DA FAIXA </th>
                        <th> NOME DO ÁLBUM </th>
                        <th> NOME DA FAIXA </th>
                        <th> AÇÃO </th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                        <tr data-album-code="{{ track.album_code }}" data-album-media-number="{{ track.album_media_number }}" data-track-number="{{ track.track_number }}">
                            <td>{{ track.album_code}}</td>
                            <td>{{ track.album_media_number }}</td>
                            <td>{{ track.track_number }}</td>
                            <td>{{ track.album_description }}</td>
                            <td>{{ track.track_description }}</td>
                            <td>
                                <button class="btn btn-success" onclick="addToPlaylist('{{playlist_code}}','{{ track.album_code }}', '{{ track.album_media_number }}', '{{ track.track_number }}')">Adicionar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

            <hr class="my-5">

            <div class="text-center">
                <a class="btn btn-secondary" href="{{ url_for('routing.home') }}">
                    Voltar para a página inicial
                </a>
            </div>

        </div>
        
    </body>
</html>