<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Playlist</h1>

        <table>
            <thead>
                <tr>
                    <th>Album Description</th>
                    <th>Track Description</th>
                    <th>Track Execution Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for track in playlist %}
                    <tr data-album-code="{{ track.album_code }}" data-album-media-number="{{ track.album_media_number }}" data-track-number="{{ track.track_number }}">
                        <td>{{ track.album_description }}</td>
                        <td>{{ track.track_description }}</td>
                        <td>{{ track.track_execution_time }}</td>
                        <td>
                            <button onclick="removeTrack('{{playlist_code}}', '{{ track.album_code }}', '{{ track.album_media_number }}', '{{ track.track_number }}')">Remover</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>

        <h2>Adicionar músicas à playlist:</h2>
        <table>
            <thead>
                <tr>
                    <th>Album Code </th>
                    <th> Album Media Number </th>
                    <th> Album Description </th>
                    <th> Track Number </th>
                    <th> Track Description </th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                    <tr data-album-code="{{ track.album_code }}" data-album-media-number="{{ track.album_media_number }}" data-track-number="{{ track.track_number }}">
                        <td>{{ track.album_code}}</td>
                        <td>{{ track.album_media_number }}</td>
                        <td>{{ track.album_description }}</td>
                        <td>{{ track.track_number }}</td>
                        <td>{{ track.track_description }}</td>
                        <td>
                            <button onclick="addToPlaylist('{{playlist_code}}','{{ track.album_code }}', '{{ track.album_media_number }}', '{{ track.track_number }}')">Adicionar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('routing.home') }}">
            <button type="button">Voltar para a página inicial</button>
        </a>

    </div>
    
    <script>
        function removeTrack(playlistCode, albumCode, albumMediaNumber, trackNumber) {
            const data = {
                'album_code': albumCode,
                'album_media_number': albumMediaNumber,
                'track_number': trackNumber
            };
    
            const options = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            fetch('/playlist/' + playlistCode + '/removeTrack', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');

                        return response.json();
                    }

                    location.reload()
                })
                .catch(error => {
                    console.error('Error removing track: ', error.message)
                })
        }

        
        function addToPlaylist(playlistCode, albumCode, albumMediaNumber, trackNumber) {
            // Construa a URL com os parâmetros necessários
            const data = {
                'album_code': albumCode,
                'album_media_number': albumMediaNumber,
                'track_number': trackNumber
            };
    
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            fetch('/playlist/' + playlistCode + '/addTrack', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');

                        return response.json();
                    }

                    location.reload()
                })
                .catch(error => {
                    console.error('Error adding track: ', error.message)
                })
        }

    </script>
</body>
</html>
