<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotPer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        <h3>Álbuns acima da média de preço:</h3>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Número de Mídia</th>
                    <th>Descrição</th>
                    <th>Preço de Compra</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album.code }}</td>
                        <td>{{ album.media_number }}</td>
                        <td>{{ album.description }}</td>
                        <td>{{ album.purchase_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Gravadora com maior número de playlists que possuem pelo uma faixa composta pelo compositor Dvorack:</h3>
        <ul>
            {% for label in label %}
                <p>{{ label.name }} </p>
            {% endfor %}    
        </ul>

        <h3>Compositor(a) com maior número de faixas nas playlists existentes:</h3>
        <ul>
            {% for songwriter in songwriter %}
                <p>{{ songwriter.name }} </p>
            {% endfor %}   
        </ul>

        <h3>Playlists, cujas faixas (todas) têm tipo de composição “Concerto” e
            período “Barroco”:</h3>
        <ul>
            {% for cb in cb_playlist %}
                <p>{{ cb.name|default('N/A') }} </p>
            {% endfor %}   
        </ul>

        <a href="{{ url_for('routing.home') }}">
            <button type="button">Voltar para a página inicial</button>
        </a>

    </div>
</body>
</html>